<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>各地风俗习惯一览</title>
    <link rel="stylesheet" href="../css/custom.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="shouye">返回首页</div>
<div class="jumbotron">
    <h1>各地风俗习惯一览</h1>
    <p>welcome to china custom</p>
    <p><a class="btn btn-success btn-lg" href="#custom" role="button">let's go</a></p>
</div>

<div class="row block" id="custom">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="../img/custom/1.jpg" alt="图片未成功加载" title="北京结婚习俗">
            <div class="caption">
                <h3>北京</h3>
                <p>
                    男女双方家长说媒、相亲、订婚后男方往女家送彩礼，表明聘定女方为妻。聘礼的一部分是具有象征意义的物品。(下聘礼要送女方茶叶、点心盒、酒、女方衣服钱)如果经算卦先生补算出是吉兆(纳吉)
                </p>
                <p>
                    女方在收到男方送来的聘礼后，在出嫁前某天下午将娘家陪送的嫁妆送往男家。有的人家陪嫁有相应还礼之意，原则上以男方聘礼增一倍还礼。(不过现在一般都是男方准备新房，女方的陪嫁一般都是新房的家具电器，实用性强)
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row block">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="../img/custom/2.jpg"  alt="图片未成功加载" title="上海结婚习俗">
            <div class="caption">
                <h3>上海</h3>
                <p>
                    上海旧式婚姻，男女双方的结合，率多为媒的之言，父母之命。上海开埠后，已对此俗加以摒弃和改良，大多是由男女双方，经人介绍，在约定地点，互看人选。此谓之“相亲”。也有男女双方自己结识之后，约定地点，请双方家长来识看一下，也称之为“相亲”。
                </p>
                <p>
                    双方相看满意后，还要挽请德高望重者来作媒人正式说合，由于此媒人实际并不担任介绍作用，故被称作“现成媒人”，从中亦可见
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row block">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="../img/custom/3.jpg"  alt="图片未成功加载" title="广州结婚习俗">
            <div class="caption">
                <h3>广州</h3>
                <p>
                    广州婚嫁具体流程：
                    迎亲
                    迎娶礼仪，通常称为喜事、将媳妇、娶媳子，婚礼之前要请亲戚朋友或街坊邻居共同来帮忙。主持操办喜事的头目称为总管，或称大总管，为了与办丧事的总管相区别，诸如写对联、下厨师、宴客等等。这场喜事办得是否红火热闹
                <p>
                    婚礼之前还要下帖邀请客人，有的客人不搬不来，那就要用马车、地排车或者胶轮小推车去搬。至此，结婚的准备工作基本完成。
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row block">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="../img/custom/4.jpg" alt="图片未成功加载" title="深圳结婚习俗">
            <div class="caption">
                <h3>深圳</h3>
                <p>
                    订亲最隆重之仪式，约在婚礼前十五天到二十天前进行。男家择定良辰吉日，携带礼金和多种礼品送到女家。 时到今天，由于这种传统婚嫁礼仪繁琐需时，甚少会采用全套“三书六礼”仪式，
                </p>
                <p>
                    多化繁为简，最广为重要的便是过大礼这一环。婚礼前，男方就要到女方家送迎亲的聘礼。广州的风俗是要送鸡(意味着有生气)、椰子(有爷有子，天伦之福)、礼饼(送给女方的亲戚)，而且还要送礼金。
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row block">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="../img/custom/5.jpg" alt="图片未成功加载" title="杭州结婚习俗">
            <div class="caption">
                <h3>杭州</h3>
                <p>举行婚事就要大肆购物，买各种各样的东西，小到香皂、牙膏，大到床、柜子，总之新房里面的东西都要重新置办，当然还少不了结婚要用的桔子、男娃娃、红线等等。
                </p>
                <p>
                    采购这一过程是十分累人的，每天都要记得今天要购买的东西，免得到时候会弄得手忙脚乱。新郎和新娘还一起去拍结婚纪念艺术照，留下美好的记忆，并要抽空购买或订做自己的结婚礼服。
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row block">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="../img/custom/6.jpg"  alt="图片未成功加载" title="云南结婚习俗">
            <div class="caption">
                <h3>云南</h3>
                <p>
                    云南多数民族实行血缘外婚制，有的禁忌甚严，如哈尼族严禁姑表姨表通婚，彝族姨表不婚，壮族姑表不婚，苗族、藏族同宗及姨表不婚，白族、纳西族同宗同姓不婚
                </p>
                <p>除亲生父母和亲兄弟姐妹外，其余姑、叔、伯等兄弟姐妹或再从兄弟姐妹以及年龄相当的叔侄都可结婚。独龙族曾普遍实行“非等辈婚”，即在固定婚姻集团内的嫁娶，
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row block">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="../img/custom/7.jpg"  alt="图片未成功加载" title="青海结婚习俗">
            <div class="caption">
                <h3>青海</h3>
                <p>
                    说媒也叫“走茶叶”，是指媒人穿梭于两家之间说媒撮合的时候，提的礼物就是茶叶。为什么要用茶呢?究其原因，一是茶树比较特别，明代有个叫郎瑛的人，写了一本《七修类稿》，里面有这样的记载：“种茶下子，不可移植，移植则不复生
                </p>
                <p>故以喻女子受聘”。所以，把女子受聘，也叫“吃茶”。《红楼梦》中就有王熙凤戏谑林黛玉：“你既吃了我家的茶，怎么还不给我家作媳妇?
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row block">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="../img/custom/8.jpg"  alt="图片未成功加载" title="台湾结婚习俗">
            <div class="caption">
                <h3>台湾</h3>
                <p>
                    台湾早期的婚俗也是多以父母之命和媒人之言为主，纳采为第一步：首先由男方请媒人探寻女方的意愿，然后探清女方的生辰八字(问名)，如果经算卦先生补算出是吉兆(纳吉)
                </p>
                <p>
                    (纳徽，也就是完聘的意思)，通常情况下男方都要准备高额的聘金和丰厚的聘礼以表诚意，聘礼应为六件或者十二件，这时候订婚仪式结束，然后女方要准备汤圆招待客人，期望婚姻圆满幸福
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row block">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="../img/custom/9.jpg"  alt="图片未成功加载" title="陕西结婚习俗">
            <div class="caption">
                <h3>陕西</h3>
                <p>经介绍人媒介同意联姻者，约定时间两对象在男方或其亲戚家相见，经谈话同意，即订婚约。见面时，男方要简单招待，双方主要亲戚要参加，参与意见，谈话后，
                </p>
                <p>
                    两人要互赠礼品(男给女一身衣服和四样礼，女给男方礼品稍轻)。如对方收礼，就表示同意，否则就有问题。求婚之家，欲择某户子女为婚，先请介绍人到家招待一番，说明求婚之意，于是介绍人奔走双方，发挥媒介作用
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row block">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="../img/custom/10.jpg"  alt="图片未成功加载" title="北京结婚习俗">
            <div class="caption">
                <h3>浙江</h3>
                <p>
                    浙江民间婚礼，基本上沿袭南宋婚礼的习俗遗风。旧时男女婚配封建色彩极浓，中等以上人家都要请媒婆说合，叫做穿婚，男女方问卜得吉、定帖后，男家择日备礼邀女家，两亲相见，
                </p>
                <p>谓之相亲，如女方中意，即以金钗插于冠髻中，名曰，插钗。若不如意，则送彩缎两匹，谓之压惊。谓之相亲，如女方中意，即以金钗插于冠髻中，名曰，插钗。若不如意，则送彩缎两匹，谓之压惊。
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row block">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="../img/custom/11.jpg" alt="图片未成功加载" title="北京结婚习俗">
            <div class="caption">
                <h3>江苏</h3>
                <p>
                    现在媒妁之言大都省略了。父母之命的刚性也减了不少，但是老人的建设性意见还是要选择性吸收的，没有任何的父母会害自己的孩子。老人的阅历，和经验是人生的一笔财富，未必全对，但是绝大多数有道理。自由恋爱是现在婚姻前的主旋律。青年男女，互生好感。
                </p>
                <p>或者在工作学习中因为互相吸引而产生感情，这很自然。当然网络这个平台也让很多的人走到一起。对于网络我还是心怀介意的。
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row block">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="../img/custom/12.jpg"  alt="图片未成功加载" title="北京结婚习俗">
            <div class="caption">
                <h3>海南</h3>
                <p>
                    结婚的时间肯定要选一个良辰吉日，双方家长把儿女的生辰八字写在红纸上，请童子(各路神仙在凡间的代言人)或是德高望重的先生帮忙选个好日子，然后就开始操办婚事了。结婚的前一段时间，大概是提前一星期，男方就要往女方送一些订金，算是彩礼
                </p>
                <p>
                    数目一定是双数，视家境情况而定，不过现在这笔钱实际上是用在双方购买物品之上了。到了结婚的前一天，新娘家请三位有喜气(家庭和好、生育过男孩) </p>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/custom.js"></script>
</body>
</html>