<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/d_ope.css">
    <title>普通用户操作</title>
</head>
<body>
<nav class="navbar">
    <div class="container-fluid">
        <div class="row nav_row">
            <!--logo-->
            <div class="col-sm-1 col-xs-1 class_1"><a href="#" id="logo">SoulMate</a></div>
            <!--link-->
            <div class="col-sm-4 col-xs-4 col-sm-offset-3 col-xs-offset-3 class_1">
                <div class="link">
                    <ul>
                        <li><a href="#"><span>home</span></a></li>
                        <li><a href="#"><span>case</span></a></li>
                        <li><a href="./service"><span>service</span></a></li>
                        <li><a href="./custom"><span>custum</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- avatar/login-out -->
            <div class="col-sm-2 col-xs-2 col-sm-offset-2 col-xs-offset-2 class_1">
                <div class="avatar">
                    <a href="/user" class="person"><img src="<%=header%>" alt="头像"></a>
                    <div><a href="/logOut" class="loginOut"><span>退出登录</span></a></div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--case-->
<div class="explain">
    <p>Our degree programs meet the <br>needs of both new and experienced journalists.</p>
</div>
<div class="show_case">
    <div class="case_item">
        <img src="../img/case2.jpg" alt="">
        <div class="info">说明</div>
    </div>
    <div class="case_item">
        <img src="../img/case3.jpg" alt="">
        <div class="info">说明</div>
    </div>
    <div class="case_item">
        <img src="../img/case4.jpg" alt="">
        <div class="info">说明</div>
    </div>
</div>
<div class="show_case">
    <div class="case_item">
        <img src="../img/case2.jpg" alt="">
        <div class="info">说明</div>
    </div>
    <div class="case_item">
        <img src="../img/case3.jpg" alt="">
        <div class="info">说明</div>
    </div>
    <div class="case_item">
        <img src="../img/case4.jpg" alt="">
        <div class="info">说明</div>
    </div>
</div>
<div class="show_case">
    <div class="case_item">
        <img src="../img/case2.jpg" alt="">
        <div class="info">说明</div>
    </div>
    <div class="case_item">
        <img src="../img/case3.jpg" alt="">
        <div class="info">说明</div>
    </div>
    <div class="case_item">
        <img src="../img/case4.jpg" alt="">
        <div class="info">说明</div>
    </div>
</div>
<div class="read">
    <div>read more</div>
</div>
<!--people-->
<div class="explain">
    <p>Our degree programs meet the <br>needs of both new and experienced journalists.</p>
    成功案例
</div>

</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../js/common.js"></script>
</html>