<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>登录</title>
</head>
<body>
<div class="login">
    <h1 id="user1">Demand User</h1>
    <h1 id="user2">Service User</h1>
    <!--Demand User-->
    <div class="Demand">
        <form id="Demand_login">
            <div class="form-group first_input">
                <label for="dusername">username</label>
                <input type="text" class="form-control" id="dusername" placeholder="please input demand username">
            </div>
            <div class="form-group second_input">
                <label for="dpassword">Password</label>
                <input type="password" class="form-control" id="dpassword" placeholder="please input password">
            </div>
            <button type="submit" class="btn btn-default">login</button>
        </form>
    </div>
    <!--Service User-->
    <div class="Service">
        <form id="Service_login">
            <div class="form-group first_input">
                <label for="susername">username</label>
                <input type="text" class="form-control" id="susername" placeholder="please input service username">
            </div>
            <div class="form-group second_input">
                <label for="spassword">Password</label>
                <input type="password" class="form-control" id="spassword" placeholder="please input password">
            </div>
            <button type="submit" class="btn btn-default">login</button>
        </form>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/login.js"></script>
</html>