<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/d_ope.css">
    <link rel="stylesheet" href="../css/user.css">
    <title>普通用户操作</title>
</head>
<body>
<div class="container-fluid">
<nav class="navbar">
        <div class="row nav_row">
            <!--logo-->
            <div class="col-sm-1 col-xs-1 col-sm-offset-1 col-xs-offset-1 class_1"><a href="#" id="logo">SoulMate</a></div>
            <!--link-->
            <div class="col-sm-4 col-xs-4 col-sm-offset-2 col-xs-offset-2 class_1">
                <div class="link">
                    <ul>
                        <li><a href="#"><span>home</span></a></li>
                        <li><a href="#"><span>demand user</span></a></li>
                        <li><a href="#"><span>service user</span></a></li>
                        <li><a href="./custom"><span>custum</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- avatar/login-out -->
            <div class="col-sm-2 col-xs-2 col-sm-offset-1 col-xs-offset-1 class_1">
                <div class="avatar">
                    <a href="#" class="person"><img src="../img/avatar.jpg" alt="头像"></a>
                    <div><a href="/logOut" class="loginOut"><span>退出登录</span></a></div>
                </div>
            </div>
        </div>
</nav>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1 class_2">
            <!--侧边栏-->
            <ul class="nav nav-pills nav-stacked">
                <li><a href=""><span>个人头像</span></a></li>
                <li><a href=""><span>个人收藏</span></a></li>
                <li><a href=""><span>选择人员</span></a></li>
                <li><a href=""><span>修改密码</span></a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-xs-8 class_2">
            <!--内容-->
            <section class="content">
                <h3>修改个人头像</h3>
                <form>
                    <button type="button" class="btn btn-default uploadheader">上传头像</button>
                    <input type="file" class="hide" id="header" accept="image/jpeg, image/png, image/gif, image/bmp, image/svg" name="header">
                    <br>
                    <img src="<%=header%>" alt="" id="myheader">
                    <input type="hidden" name="myheader" value="<%=header%>">
                    <br>
                    <button type="button" class="btn btn-default saveheader">保存</button>
                </form>
            </section>
        </div>
    </div>
</div>


</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../js/user.js"></script>
</html>