.navbar{
    min-height: 72px;
    margin-bottom: 0px;
}
.container-fluid{
    padding: 0px;
}
.nav_row{
    padding: 0px 0px 0px 30px;
    background-color: #ffffff;
    border-bottom:1px solid #7c7777;
}
.row{
    margin:0px;
}
.row div{
    padding: 0px;
}
a{
    text-decoration: none!important;
}
.class_1{
    height:72px;
    /*border: 1px solid red;*/
}
#logo{
    line-height: 72px;
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.link,.log_reg{
    width: 100%;
    height:72px;
}
.link ul,.link li,.log_reg ul,.log_reg li{
    display: inline-block;
}
.link ul,.log_reg ul{
    margin-bottom: 0px;
}
.link li{
    list-style-type: none;
    width:115px;
    line-height: 72px;
    text-align: center;
}
.link span,.log_reg span{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
.log_reg span{
    font-weight: normal;
}
a:hover{
    color: #ffffff;
}
.log_reg li{
    list-style-type: none;
    width:79px;
    line-height: 72px;
    text-align: center;
}
.search span{
    font-size: 25px !important;
}
.search{
    background-color: #F0F0F0;
    height:71px;
}
.search:hover{
    background-color: #FFF041;
}
.psat_case{
    height:100px;
    background-color: #F0F0F0;
}
.past_case a{
    padding-left: 30px;
    font-size: 30px;
    line-height: 100px;
    font-weight: normal;
    color: #000000;
}
.item img{
    width: 100%;
    height:720px!important;
}
.show_case{
    width: 100%;
    height:505px;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.case_item{
    width:503px;
    flex-shrink: 0;
    flex-grow: 0;
    /*border: 1px solid red;*/
}
.case_item img{
    width: 503px;
    height:505px;
}
.info{
    width: 250px;
    height:250px;
    background-color: #ffffff;
    position: relative;
    top:-250px;
}
.info:hover{
    background-color:#FFF041;
}
.footer{
    width:100%;
    height:50px;
    background-color: #F0F0F0;
}
.footer p{
    margin-bottom: 0px;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
}
/*successwork的css  start***********************/
.middle{
    width:100%;
    height:720px;
    margin:0 auto;
    border-radius:10px;
    background-image:url('../img/checkuserbg.jpg');
    background-size: cover;
    position: relative;
}
.middle-btn{

    width:52px;
    height: 52px;
    opacity:0.3;
}
#leftbtn{
    position: absolute;
    top: 50%;
    left: 5%;
    cursor: pointer;
}
#rightbtn{
    position: absolute;
    top: 50%;
    right: 5%;
    cursor: pointer;
}
.middle-row{
    position: absolute;
    top:0;
    right: 12%;
    width: 76%;
    height:100%;
    background-color:rgba(22,244,22,0);
    overflow: hidden;

}
.item{
    position: absolute;
    top:0;
    height:100%;
    left:0;
    white-space:nowrap;
}
.item-info{
    display: inline-block;
    margin:10px;
    background-color: rgba(2,2,2,0.16);
    width:265px;
    height:80%;
    vertical-align: middle;
    margin-top:113px;
    border-radius: 10px;
}
.item-info>p{
    width: 80%;
    height: 42px;
    line-height: 42px;
    margin: 26px auto;
    background-color: rgba(3,3,3,0.1);
    color: black;
    font-weight: 700;
    border-radius: 5px;
}
.item-info:hover{
    box-shadow: 1px 1px 15px 1px slategray;
    transition: all 0.5s;
}
.item-info>p:hover{
    width: 81%;
    height: 43px;
    box-shadow:  1px 1px 15px 1px slategray;
}
/*successwork的css  end***********************/
