body{
    background-image: url("../img/case1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    width: 370px;
    height:370px;
    background-color:rgba(255,255,255,0.4);
    margin: 200px auto;
}
#user1,#user2{
    margin: 0px;
    width: 185px;
    height:55px;
    font-size: 20px;
    line-height: 55px;
    text-align: center;
}
#user1{
    border-bottom: 3px solid #cccccc;
}
#user2{
    position: relative;
    left: 185px;
    top:-55px;
}
.Demand,.Service{
    width: 370px;
    height:315px;
    position: relative;
}
.Demand{
    top:-55px;
}
.Service{
    top:-55px;
    display: none;
}
#Demand_login,#Service_login{
    width: 370px;
    height:315px;
    overflow: hidden;
}
#Demand_login label{
    display:none;
    margin-bottom: 0px;
}
#Demand_login .form-group{
    width: 300px;
    height:45px;
    padding: 0px!important;
    margin: 0px 45px 0px 45px;
}
#Demand_login .form-control,#Demand_login .btn{
    width: 300px;
    height:45px;
    margin-bottom: 0px;
}
#Demand_login .first_input{
    margin-top: 60px;
}
#Demand_login .second_input{
    margin-top: 30px;
}
#Demand_login .form-control{
    font-size: 16px;
}
#Demand_login .btn{
    margin: 50px 45px 0px 45px;
}
#Service_login label{
    display:none;
    margin-bottom: 0px;
}
#Service_login .form-group{
    width: 300px;
    height:45px;
    padding: 0px!important;
    margin: 0px 45px 0px 45px;
}
#Service_login .form-control,#Service_login .btn{
    width: 300px;
    height:45px;
    margin-bottom: 0px;
}
#Service_login .first_input{
    margin-top: 60px;
}
#Service_login .second_input{
    margin-top: 30px;
}
#Service_login .form-control{
    font-size: 16px;
}
#Service_login .btn{
    margin: 50px 45px 0px 45px;
}