<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理系统</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/admin/common.css">
</head>

<body>
<div class="container-fluid">
    <!-- 顶部导航 start -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <p style="font-size: 20px;margin-top:10px;margin-left: 20px">soul mate后台管理</p>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员操作
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/admin/info/chengepassword">修改密码</a>
                            </li>
                            <li>
                                <a href="/admin/login/logout">退出登录</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 顶部导航  end -->

    <!-- 侧边导航  start -->
    <aside class="H4-left">
        <ul class="menu">
            <li class="f">数据管理</li>
            <li class="c">
                <ul>
                    <li>
                        <a href="/admin/info">用户管理</a>
                    </li>
                    <li>
                        <a href="/admin/info/sname">成功案例</a>
                    </li>
                    <li>
                        <a href="/admin/info/success">服务型用户管理</a>
                    </li>
                </ul>
            </li>
        </ul>


    </aside>
    <!-- 侧边导航 end -->
    <!-- 主题部分 start-->





    <footer height="40px" class="footer">2018 © H51804科技股份有限公司-版权所有</footer>
    </section>
    <!-- 主题部分 end-->
</div>
<form class="form-horizontal">
    <div class="form-group">
        <label for="inputpassword1" class="col-sm-2 control-label">原密码</label>
        <div class="col-sm-10">
            <input type="password" name="password1" class="form-control" id="inputPassword1" placeholder="请输入原密码">
            <span class="help-block"></span>
        </div>

    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword2" name="password2" placeholder="请输入新密码">
            <span class="help-block"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">请确认新密码</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="请确认新密码">
            <span class="help-block"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-chengepassword btn-default">确认修改</button>
        </div>
    </div>
</form>




<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../js/admin/admin.js"></script>
</body>
</html>