<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理系统</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/admin/common.css">
</head>

<body>
<div class="container-fluid">
    <!-- 顶部导航 start -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <p style="font-size: 20px;margin-top:10px;margin-left: 20px">soul mate后台管理</p>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员操作
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/admin/info/chengepassword">修改密码</a>
                            </li>
                            <li>
                                <a href="/admin/login/logout">退出登录</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 顶部导航  end -->

    <!-- 侧边导航  start -->
    <aside class="H4-left">
        <ul class="menu">
            <li class="f">数据管理</li>
            <li class="c">
                <ul>
                    <li>
                        <a href="/admin/info">用户管理</a>
                    </li>
                    <li>
                        <a href="/admin/info/sname">成功案例</a>
                    </li>
                    <li>
                        <a href="/admin/info/success">服务型用户管理</a>
                    </li>
                </ul>
            </li>
        </ul>


    </aside>
    <!-- 侧边导航 end -->
    <!-- 主题部分 start-->





    <footer height="40px" class="footer">2018 © 股份有限公司-版权所有</footer>
    </section>
    <!-- 主题部分 end-->
</div>
<ol class="breadcrumb succ">
    <li>
        <a href="#">首页</a>
    </li>
    <li>
        <a href="#">服务人员管理</a>
    </li>
    <li class="active">服务人员管理</li>
</ol>
<table class="table table-bordered succ">
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>服务类型</th>
        <th>服务宗旨</th>
        <th>电话</th>
        <th>邮箱</th>
        <th>注册时间</th>
        <th>操作</th>
    </tr>
    <%
    let n = 0;
    for(let qc of serverclasslist){
    n++;
    %>
    <tr>
        <td><%=n%></td>
        <td><%=qc.sname%></td>
        <td><%=qc.sclass%></td>
        <td><%=qc.zongshi%></td>
        <td><%=qc.tel%></td>
        <td><%=qc.email%></td>
        <td><%=qc.regtimes%></td>
        <td>
            <a href="javascript:void(0)" class="delc2" qcid="<%=qc.uid%>">删除</a>
        </td>
    </tr>
    <%}%>



</table>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../js/admin/admin.js"></script>
</body>
</html>