<% include snav.html%>
<div class="row">
    <% include aside_left.html %>
    <div class="col-sm-8 col-xs-8 class_2">
        <!--内容-->
        <section class="content">
            <table class="table table-bordered">
                <tr>
                    <th>用户名</th>
                    <th>结婚宣言</th>
                    <th>电话</th>
                    <th>邮箱</th>
                    <th>用户注册时间</th>
                    <th>操作</th>
                </tr>
                <% for(let d of win){ %>
                <tr>
                    <td><%=d.username%></td>
                    <td><%=d.sign%></td>
                    <td><%=d.tel%></td>
                    <td><%=d.email%></td>
                    <td><%=d.regtime.toLocaleString()%></td>
                    <td>
                        <!--id只能有一个 循环会有很多-->
                        <a class="de"  qcid="<%=d.uid%>">删除</a>

                    </td>
                </tr>
                <% } %>
            </table>
        </section>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>


        $('.de').click(function () {
            console.log(2);
            //删除
            let $qcid = $(this).attr('qcid');
            let This = this;
            //console.log(1);
            $.ajax({
                url: '/server/del',
                type: 'POST',
                data: {uid: $qcid},
                dataType: 'JSON',
                success: function (result) {
                    console.log(result);
                    if (result.r == 'ok'){
                        $(This).parent().parent().remove();
                    }
                }
            });
        });
</script>
</html>